.user-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

.user-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-form .col {
  margin-bottom: 0.2rem;
}
