.post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

.post-form form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.post-form .col {
  gap: 0.6rem;
  margin-bottom: 0.2rem;
}
